---
sectionid: docs
---

{% include header.html %}

<section class='content'><div class='width'>
{% include nav_docs.html %}

<article class='withtoc'>
    <h1>
      {{ page.title }}
      <a class="edit-page-link" href="https://github.com/liaohuqiu/fresco-docs-cn/blob/docs/{{ page.path }}" target="_blank">编辑和纠错</a>
    </h1>
    <p>{{ page.description }}</p>

    {{ content }}

    <div class="docs-prevnext">
      {% if page.prev %}
        <a href="/docs/{{ page.prev }}#_">&larr; 上一页</a>
      {% endif %}
      {% if page.next %}
        <a class="right" href="/docs/{{ page.next }}#_">下一页 &rarr;</a>
      {% endif %}
    </div>

    <a id="_"></a>
</article>

</div></section>

        <div class='wechat-mp-qrcode'>
            <p>----------
            <a target='_blank' href='http://www.liaohuqiu.net/about/about-me/'>关于译者</a>
            ---------</p>
            <img src='http://www.liaohuqiu.net/assets/img/qrcode_for_wechat_mp.jpg' /><br/>
            <p>欢迎关注我的微信公众号。</p>
            <p>欢迎关注我的 <a href='http://weibo.com/liaohuqiu/'>新浪微博</a>，有问题随时交流。</p>
            <p>欢迎关注我的 <a href='https://github.com/liaohuqiu'>GitHub </a>，了解我最近关注哪些优秀的项目。</p>
        </div>
{% include footer.html %}
