---
sectionid: docs
---

{% include header.html %}

<section class='content'><div class='width'>
        <div class='notice'>
            <a target='_blank' href='http://www.liaohuqiu.net/cn/posts/follow-me-on-github/'>欢迎关注译者 github，新浪微博，facebook，twitter，instagram</a>
        </div>

{% include nav_docs.html %}

<article class='withtoc'>
    <h1>
      {{ page.title }}
      <a class="edit-page-link" href="https://github.com/liaohuqiu/fresco-docs-cn/blob/docs/{{ page.path }}" target="_blank">编辑和纠错</a>
    </h1>
    <p>{{ page.description }}</p>

    {{ content }}

    <div class="docs-prevnext">
      {% if page.prev %}
        <a href="/docs/{{ page.prev }}#_">&larr; 上一页</a>
      {% endif %}
      {% if page.next %}
        <a class="right" href="/docs/{{ page.next }}#_">下一页 &rarr;</a>
      {% endif %}
    </div>

    <a id="_"></a>
</article>

</div></section>
{% include footer.html %}
